@font-face{font-family:'Manjari';font-style:normal;font-weight:400;src:url("fonts/Manjari-Regular.woff2") format("woff2"),url("fonts/Manjari-Regular.woff") format("woff"),url("fonts/Manjari-Regular.ttf") format("truetype");}@font-face{font-family:'Manjari';font-style:bold;font-weight:700;src:url("fonts/Manjari-Bold.woff2") format("woff2"),url("fonts/Manjari-Bold.woff") format("woff"),url("fonts/Manjari-Bold.ttf") format("truetype");}body,h1,h2,h3,h4,h5,p,a,.dropcap,.entry{font-family:"Manjari",'Droid Sans', Arial, Verdana, sans-serif, FontAwesome !important;} 
p {font-size:1.2em !important; line-height:1.8;}

.content-wrapper {
  background: #ffffff;
}

.content-wrapper .jumbotron {
  padding: 8rem 2rem;
}
.error {
    color: #D8000C;
    background-color: #FBDADA;
    /*padding: 5px 7px;*/
}
.blog {
  text-align: left;
  float: left;
  width: 60vw;
  border-bottom: solid #E5E5E5 1px;
  border-left: solid #E5E5E5 1px;
  border-right: solid #E5E5E5 1px;
  min-width: 260px;
  min-height: 240px;
  border-top: solid #00C0EF 4px;
  padding: 7px 50px 20px 50px;
  margin: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bgimg-1 {
  position: relative;
  opacity: 0.6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/header-kp.jpg");
  min-height: 100%;
  opacity: 1 !important;
  height: 60vh;
}
.homeul li{
    font-size:1.3em !important;
    }
.filter.filter-color-purple::before {
  background: #312434;
}

.filter::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
  content: "";
  opacity: .45;
  background: #333;
}

.img {
  padding: 2px;
  width: 40vw;
  min-width: 220px;
  margin-bottom: 30px;
}

.blogtitle {
  color: #00A65A;
  margin-top: 50px;
  text-align: left;
}

.blogh1 {
  font-size: 5rem;
  text-align: center;
  color: #3C8DBC;
}

.blogimage {
  max-height: 300px;
  margin-bottom: 50px;
}

.bgimg-1 .container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}

.bgimg-1 .title-area {
  max-width: 760px;
  margin: 0 auto 30px;
  display: block;
  padding: 30px 15px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  z-index: 100 !important;
}

.bgimg-1 .title-area h1 {
  font-weight: 400 !important;
  font-size: 3.6em;
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);
}

.blogtitledisc {
  color: #A7A7A7;
  text-align: left;
}

.date {
  color: #A7A7A7;
  text-align: center;
}

.blogpost {
  text-align: left;
}

.content-wrapper .jumbotron .container h1 {
  font-weight: 700;
}

.content-wrapper .jumbotron .container p {
  padding: 15px 10px;
}

.content-wrapper .container .title-area, .content-wrapper .container .blocks  {
  text-align: center;
}

.content-wrapper .container .title-area p, .content-wrapper .container .title-area .videos {
  margin: auto;
  max-width: 720px !important;
  line-height: 1.6;
  font-size: 18px;
}

.content-wrapper .container .separator {
  margin: auto;
  background: #008ed6;
  display: block;
  width: 80px;
  height: 2px;
}

.content-wrapper .container .about-description {
  padding: 15px 10px;
}

.content-wrapper .container .blocks {
  margin: 20px 5px 50px;
}

.content-wrapper .container .blocks .icon .fa {
  font-size: 3rem;
  display: block;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  padding: 35px;
  margin: 20px auto;
  transition: all .5s;
  color: #FFFFFF;
  background-color: #2196F3;
}

.content-wrapper .container .blocks .icon .fa:hover {
  background-color: #075593;
}

.content-wrapper .container .blocks .description {
  min-height: 30px;
}

@media screen and (max-width: 720px) {
  .blog {
    padding: 20px;
  }
}

@media screen and (max-width: 440px) {
  .blog {
    margin-top: 5px;
    padding: 0px;
    border-color: transparent;
  }
}

@media screen and (max-width: 1400px) {
  .blogexcerpt {
    width: 500px;
  }
}

@media screen and (max-width: 1300px) {
  .blogexcerpt {
    width: 400px;
  }
  @media screen and (max-width: 1100px) {
    .blogexcerpt {
      width: 250px;
    }
    img .col-sm-2 {
      width: 500px;
    }
  }
}

.content-wrapper .content .box .box-header .btn {
  height: auto;
  padding: 10px;
}

.content-wrapper .content .box .box-header .btn .fa {
    margin-bottom: 5px;
}

.tooltip_templates {
  display:none;
}

#tooltip_content {
  max-width: 50px;
}

.box-primary > ul {
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-primary > ul > li {
  margin-bottom: 10px;
}

.box-primary ul, .box-body ul {
  list-style: none;
  margin-left: -30px;
}

.box-body ul li {
  display: inline;
}

div.content-wrapper>section.content-header>h1 {
  margin-top: 30px;
}

section .box-footer .review-btn {
width: 250px;  text-align: center;
  margin: 15px auto 30px;
}

.pagination {
  padding-left: 30px;
}
.sideLinks{
    padding:5px 10px;
    }
.sideLinks li {
    padding:5px 2px;
    list-style-type:none;
    border-bottom:1px solid #ccc;
    }
.review-btn {
    text-align:center;
    padding:20px 5px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}
.progress {border:1px solid #aaa !important; }
.info-box .progress {border:0px !important;}

.small-box .icon {
    top: 10px !important;
    font-size: 68px !important;
    right: 20px !important;
}
